.oxmod-oxm-8icon {
  /* CSS */
}
.oxmod-oxm-8icon .icon-row {
  display: flex;
}
.oxmod-oxm-8icon .icon {
  border-left: solid 1px #ccc;
  border-bottom: solid 1px #ccc ;
  text-align: center;
  padding: 5% 0;
  text-decoration: none;
  color: #666;
}
.oxmod-oxm-8icon .icon:first-child {
  border-left-style: none;
}
.oxmod-oxm-8icon .icon img {
  width: 30%;
}
