.oxmod-oxm-8icon{
/* CSS */
 .icon-row{
  display: flex;
 }
  .icon{
   //display: inline-block;
   //width:40px;
   border:solid 1px #ccc;
   text-align: center;
   padding:5% 0;

   img{
    width:90%;

   }
  }
 }
